@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #111;
}

main {
  margin: auto;
  min-width: 1000px;
}

hr {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}

a {
  color: #0066c0;
}

h2 {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.3;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  max-width: 50%;
  min-width: 300px;
}

img {
  width: 100%;
}

.aok-offscreen {
  position: absolute !important;
  z-index: -1 !important;
  opacity: 0;
}
.main-header {
  background-color: #232f3e;
  height: 99px;
  min-width: 1000px;
}

#navbar-mobile {
  display: none;
}
#navbar {
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  display: block;
  zoom: 1;
  min-width: 1000px;
}

#nav-belt {
  position: relative;
  width: 100%;
  font-size: 14px;
  z-index: 5;
}

#nav-tools a {
  margin-left: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 8px 6px 8px;
  margin: 1px 2px 12px 1px;
  border: 1px solid transparent;
}

#nav-tools #hello {
  padding-top: 20px;
}

#nav-tools #hello span {
  position: absolute;
  bottom: 15px;
  font-weight: 300;
  color: #ccc;
  font-size: 12px;
}

#nav-tools a:hover {
  border: 1px solid;
  border-radius: 2px;
  border-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

a#nav-cart.nav-a {
  background: transparent url(../../images/cart.png) no-repeat 5px;
  background-size: 39px;
  padding: 20px 20px 7px 50px;
  color: #fff;
}

#nav-cart span {
  color: #f08804;
  margin-left: -15px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  bottom: 15px;
  right: 17px;
}

#nav-main {
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2rem 1.8rem 2rem;
}

#nav-main .nav-right .nav-main-list {
  float: left;
  padding: 6px 7px 0 32px;
  text-decoration: none;
  margin-top: 2px;
}

.nav-main-list a {
  color: #ccc;
  padding: 7px 8px 7px 8px;
  margin: 1px 2px 12px 1px;
  text-decoration: none;
  border: 1px solid transparent;
  font-size: 14px;
}

.nav-main-list a:hover {
  border: 1px solid;
  border-radius: 2px;
  border-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
}

.nav-left {
  position: relative;
  float: left;
  width: auto;
  display: inline-block;
}

.nav-right {
  position: relative;
  float: right;
  width: auto;
  display: inline-block;
}

.nav-swmslot {
  margin-top: 9px;
}

.nav-fill {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}

#nav-belt .nav-fill {
  overflow: visible;
  height: 39px;
  font-size: 14px;
}

#nav-search {
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 4px 4px 4px 4px;
  width: auto;
  margin: 10px 0 0;
  margin-top: 0;
  padding-top: 11px;
  padding-right: 25px;
}

.nav-search-scope {
  background-color: #f3f3f3;
  background-image: none;
  border-left: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;

  position: relative;
  float: left;
  height: 35px;
  margin: 0;
  padding-left: 5px;
  overflow: hidden;
  border-right: 1px solid #cdcdcd;
  border-radius: 4px 0 0 4px;
  background-position: 0 -532px;
}

.nav-search-facade {
  position: relative;
  float: left;
  cursor: default;
  overflow: hidden;
}

#nav-search .nav-search-facade .nav-search-label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #555;
  font-size: 12px;
  line-height: 33px;
  margin-right: 21px;
  margin-left: 5px;
}

#nav-search .nav-search-facade .nav-icon {
  position: absolute;
  top: 14px;
  right: 8px;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-top: 4px solid #666;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.nav-search-dropdown {
  position: absolute;
  display: block;
  top: -1px;
  left: 0;
  height: 35px;
  width: auto;
  font-family: arial, sans-serif;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  visibility: visible;
  border: 0;
  line-height: 35px;
  font-size: inherit;
}
#nav-search .nav-fill {
  height: 35px;
  /* zoom: 1; */
  overflow: hidden;
  position: relative;
}

.nav-search-field {
  position: relative;
  height: 35px;
  background: #fff;
  border: none;
  border-top: 1px solid transparent;
}

#nav-search-label {
  display: inline-block;
  float: left;
  line-height: 35px;
  color: #fff;
  font-weight: 400;
  padding: 0 10px 0 0;
  margin-top: 10px;
  top: 1px;
  font-family: arial, sans-serif;
}

#navbar .nav-sprite {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-2x_optimized_layout1._CB468670774_.png);
  background-size: 350px;
}

#nav-search .nav-search-submit {
  background-color: #febd69;
  background-image: none;
  border: none;
  width: 45px;

  position: relative;
  top: 0;
  right: 0;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  background-position: 0 -381px;
}

#nav-search-submit-text.nav-sprite {
  background-position: -10px -290px;
  width: 21px;
  height: 21px;
  text-indent: -500px;
  top: 7px;
}

#navbar #nav-search-submit-text {
  left: 12px;
  color: #111;
  top: 8px;
  text-shadow: none;
}

#nav-search .nav-search-submit .nav-search-submit-text {
  position: absolute;
  left: 11px;
  top: 10px;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  font-family: arial, sans-serif;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#nav-search .nav-search-field .nav-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  line-height: 15px;
  padding: 6px 10px 6px 0;
  margin: 0;
  border: 0;
  height: 33px;
  font-family: arial, sans-serif;
  font-size: 15px;
  background: 0 0;
  color: #111;
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
  text-indent: 8px;
  direction: ltr;
}

#nav-search .nav-search-submit .nav-input {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background: 0 0;
  border: none;
  text-indent: -1000px;
  line-height: 1px;
}

#nav-logo {
  padding: 7px 18px 0 0px;
  position: relative;
  width: 192px;
  float: left;
}

#nav-logo .nav-logo-link {
  background: transparent url('../../images/amazon-arrow-logo.png') no-repeat
    top left;
  background-size: 102px;
  width: 192px;
  height: 35px;
  display: block;
}

#nav-logo .nav-logo-tagline,
#nav-logobar .nav-logo-tagline {
  color: #48a3c6;
  position: absolute;
  top: 14px;
  left: 7px;
  font-size: 25px;
  line-height: 11px;
  font-family: 'Brush Script MT';
  font-weight: 700;
  text-decoration: none;
}

#nav-logo .nav-logo-tagline:hover,
#nav-logobar .nav-logo-tagline:hover {
  color: #00695c;
}

.mobile-nav {
  width: 75%;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 300;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.25s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: #232f3e;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
  float: left;
  margin: 7px 7px 8px 7px;
  padding: 8px 8px 8px 8px;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle {
  border-color: #666;
}
#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #fff;
  border-color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 250;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0 0 5px 0;
}

.card-image-container {
  margin: 0 10px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.search_card_image {
  width: 100%;
  text-align: center;
}

.card__image {
  width: 100%;
  height: 260px;
  text-align: center;
}

.card__image img {
  max-width: 90%;
  vertical-align: middle;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.a-button {
  display: inline-block;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
}

.btn.a-button-primary {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.btn.a-button-primary:hover {
  background: #f4d078;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
}

.btn.a-button-oneclick {
  background: linear-gradient(to bottom, #f6c88f, #ed9220);
  border-color: #ca7c1b #be751a #a56616;
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.btn.a-button-oneclick:hover {
  background: #f2ad58;
  color: #111;
  border-color: #ca7c1b #be751a #a56616;
}

.btn {
  display: inline-block;
  font: inherit;
  text-decoration: none;
  color: #111;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border: 1px solid #6c6e73;
  border-color: #adb1b8 #a2a6ac #8d9096;
}

.btn:hover,
.btn:active {
  background: #fff;
  color: #c45500;
  border-color: #e77600;
}

#page-content {
  background: #eaeded;
  margin: 0 auto;
  max-width: none;
  min-width: 1000px;
  overflow: hidden;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
  display: block;
}

.pagination a {
  cursor: pointer;
  text-decoration: none;
  color: #111;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border: 1px solid #6c6e73;
  border-color: #adb1b8 #a2a6ac #8d9096;
}

.pagination .a-disabled {
  color: #999;
  border: 1px solid transparent;
  text-decoration: none;
  background: none;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #fff;
  color: #c45500;
  border-color: #e77600;
}

.pagination .a-disabled:hover {
  color: #999;
  border: 1px solid transparent;
  background: none;
  cursor: text;
}

.a-letter-space {
  display: inline-block;
  width: 0.385em;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
  margin-bottom: 5px;
}

.search {
  margin: 20px 0;
}

.product-detail-container {
  margin: 5rem auto;
  display: flex;
  width: calc(0.9 * (100vw - 24px));
}

.product-details {
  margin: 0 10rem;
  min-width: 200px;
}

.a-size-large {
  font-size: 21px !important;
  line-height: 1.3 !important;
  font-weight: 400;
}

.a-box {
  display: block;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
}

.a-box-inner {
  border-radius: 4px;
  position: relative;
  padding: 14px 18px;
}

.a-spacing-extra-large,
.a-ws .a-ws-spacing-extra-large {
  margin-bottom: 26px !important;
}

button.btn.a-button-oneclick {
  margin-bottom: 0;
}

.product-details .a-box {
  margin-top: 20px;
}

.card.product-item a,
.card.product-item a h1:hover {
  color: #c45500;
  text-decoration: none;
}

.card.product-item .card__actions a {
  color: #111;
}

.a-container {
  padding: 14px 18px 18px;
  margin: 0 auto;
}

.a-size-medium {
  font-size: 17px !important;
  line-height: 1.255 !important;
}

.a-size-small {
  font-size: 12px !important;
  line-height: 1.5 !important;
}

.a-text-bold {
  font-weight: 700 !important;
}

.mb-2 {
  margin-bottom: 25px;
}

.a-color-price {
  color: #b12704 !important;
}

.a-color-success {
  color: #007600 !important;
}
.a-text-normal {
  font-weight: 400 !important;
  font-style: normal !important;
  text-transform: none !important;
  text-decoration: none !important;
}
.a-size-base {
  font-size: 13px !important;
  line-height: 19px !important;
}
.a-color-secondary {
  color: #555 !important;
}

#ship_option_header {
  font-size: 12px;
  height: 20px;
  font-weight: bold;
}

.a-checkbox-label,
.a-radio-label {
  position: relative;
  padding-left: 5px;
  text-indent: 0;
  display: inline-block;
  font-weight: 500;
}

input[type='radio'] {
  height: 14px;
  width: 14px;
  vertical-align: top;
  position: relative;
  bottom: 2px;
}

.mb-1 {
  margin-bottom: 5px;
}
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.pxy-2 {
  padding: 20px;
}

.a-input-text,
input[type='text'] {
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
  outline: 0;
}

.a-input-text:focus,
input[type='text']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='name']:focus,
select.a-select-multiple:focus,
textarea:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

.aok-hidden {
  display: none !important;
  visibility: hidden !important;
}
.btn.a-button-primary.aok-hidden {
  display: none;
}
.a-button.a-button-small {
  height: 22px;
  padding: 0;
  margin: 0 auto;
}
.a-button-span8 {
  width: 72px !important;
}
.a-spacing-top-small {
  margin-top: 10px !important;
}
.a-button-text {
  background-color: transparent;
  border: 0;
  display: block;
  font-size: 13px;
  line-height: 29px;
  margin: 0;
  outline: 0;
  padding: 0 10px 0 11px;
  text-align: center;
  white-space: nowrap;
}
.a-button.a-button-small .a-button-text {
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  padding: 0 6px 0 7px;
}
.a-button-primary .a-button-text {
  color: #111;
}
.a-button-inner button {
  text-decoration: none;
  margin: auto;
}
.a-button-inner a:hover {
  text-decoration: none;
}
