<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/grid-layout.css">
    <link rel="stylesheet" href="/css/media.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div id="page-content">
        <%- include('../includes/carousel.ejs') %>
        <section class="gw-layout">
          <div class="gw-card-layout">
            <div id="desktop-grid-1">
                <div class="a-cardui">
                  <div class="a-cardui-header">
                      <h2>Overstock deals</h2>
                  </div>
                  <div class="a-cardui-body">
                    <a href="/products">
                        <div class="a-image-container hud-card-image-redesign-container">
                          <img alt="It's a Me a Mario" src="/images/grid_0.jpg">
                        </div>
                    </a>
                    <p>Find new deals every day on overstocked items in Outlet.</p>
                  </div>
                </div>
            </div>
            <div id="desktop-grid-2">
                <div class="a-cardui">
                  <div class="a-cardui-header">
                      <h2>Recently viewed</h2>
                  </div>
                  <div class="a-cardui-body">
                    <a href="/products">
                        <div class="a-image-container hud-card-image-redesign-container">
                          <img alt="Good Omens  - Season 1" src="/images/grid_1.jpg" class="hud-dashboard-card-v2-image">
                        </div>
                    </a>
                    <p>Watch your favorite movies on Prime Video</p>
                  </div>
                </div>
            </div>
            <div id="desktop-grid-3">
                <div class="a-cardui">
                  <div class="a-cardui-header">
                      <h2>Stock up for college</h2>
                  </div>
                  <div class="a-cardui-body">
                    <a href="/products">
                        <div class="a-image-container hud-card-image-redesign-container">
                          <img alt="College" src="/images/grid_2.jpg">
                        </div>
                    </a>
                    <p class="a-spacing-top-small">Everything you need, on campus and off</p>
                  </div>
                </div>
            </div>
            <div id="desktop-grid-5">
                <div class="a-cardui">
                  <div class="a-cardui-header">
                      <h2>Whole Foods Market</h2>
                  </div>
                  <div class="a-cardui-body">
                    <a href="/products">
                        <div class="a-image-container hud-card-image-redesign-container">
                          <img alt="Whole Foods Market" src="/images/grid_5.jpg" class="hud-dashboard-card-v2-image">
                        </div>
                    </a>
                    <p>Sweet summer savings. Just for Prime members.</p>
                  </div>
                </div>
            </div>
            <div id="desktop-grid-4">
                <div class="a-cardui">
                  <div class="a-cardui-header">
                      <h2>Tech delivered fast</h2>
                  </div>
                  <div class="a-cardui-body cardui-grid">
                    <div class="grid-row">
                      <div class="item">
                        <div class="item-image">
                          <a href="/products">
                            <img alt="Phone accessories" src="/images/tech1.jpg" class="hud-dashboard-card-v2-image">
                            <div class="item-text">
                              <p>Phone accessories</p>
                            </div>
                          </div>
                          </a>
                      </div>

                      <div class="item">
                          <div class="item-image">
                            <a href="/products">
                              <img alt="Devices" src="/images/tech2.jpg" class="hud-dashboard-card-v2-image">
                              <div class="item-text">
                                <p>Devices</p>
                              </div>
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="grid-row">
                      <div class="item">
                          <div class="item-image">
                            <a href="/products">
                              <img alt="Video games" src="/images/tech3.jpg" class="hud-dashboard-card-v2-image">
                              <div class="item-text">
                                <p>Video games</p>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="item">
                            <div class="item-image">
                              <a href="/products">
                                <img alt="Headphones" src="/images/tech4.jpg" class="hud-dashboard-card-v2-image">
                                <div class="item-text">
                                  <p>Headphones</p>
                                </div>
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-text">
                          <p>$10 off your order of $35+ and FREE 2-hour delivery</p>
                    </div>
                  </div>
                </div>
            </div>
            
            <div id="desktop-grid-6">
                <div class="a-cardui">
                  <div class="a-cardui-header">
                      <h2>Home décor</h2>
                  </div>
                  <div class="a-cardui-body">
                    <a href="/products">
                        <div class="a-image-container hud-card-image-redesign-container">
                          <img alt="Home décor" src="/images/grid_6.jpg" class="hud-dashboard-card-v2-image">
                        </div>
                    </a>
                    <p>Find discounts on décor and items for your home.</p>
                  </div>
                </div>
            </div>
          </div>
        </section>
      </div>
    </main>
<%- include('../includes/end.ejs') %>